.tags {

  margin: modular-scale(1) 0;

  span {
    margin-right: modular-scale(-3);
    background-color: $dark-background-color;
    padding: modular-scale(-4);
    a {
      color: $text-bold-color;
    }
  }
}
