body {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

section {
  @include base-padding;
  @include outer-container;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.75em;
}


h1 {
  font-size: 32px;
}

h2 {
  font-size: 34px;
}

a {
    color: #477dca;
    text-decoration: none;
}

input, label, select {
    display: block;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1em;
}

label {
    font-weight: 600;
    margin-bottom: 0.375em;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select[multiple="multiple"], textarea {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px
    rgba(0,0,0,0.06);
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 0.75em;
    padding: 0.5em;
    transition: border-color;
    width: 100%;
}

input[type="submit"], button {
    appearance: none;
    background-color: #477dca;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    line-height: 1;
    padding: 0.75em 1em;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
    margin: 0.75em 0;
    table-layout: fixed;
    width: 100%;
}

tr, td, th {
    vertical-align: middle;
}

th {
    border-bottom: 1px solid #b7b7b7;
    font-weight: 600;
    padding: 0.75em 0;
    text-align: left;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 0.75em 0;
}

.admin-title-header {
  h2 {
    display: inline-block;
  }

  a {
      position: relative;
      top: -5px;
      padding: 0.67534em;
      margin-left: 1.5996em;
      background-color: #eee;
  }
}

nav.admin {
  background-color: #5B5E63;
  display: block;
  overflow: auto;
  @include base-padding;
  @include outer-container;

  a {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: #FF9E61;
    }
  }

  ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 1.2em;
    }
  }

  ul.login {
    float: right;
  }
}

